<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <noscript>Your browser don't support javascript!</noscript>
    <div id="app-content">
      <p id="loading-paragraph">
        Loading...
      </p>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <%- js('application') %>
  </body>
</html>
