<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <noscript>Your browser don't support javascript!</noscript>
    <p id="loading-paragraph">
      Loading...
    </p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <%- js('application') %>
    <script type="text/javascript">
      var socket = io.connect('http://localhost');
      socket.on("message", function(response){
        console.log(response);
      });
      socket.emit('message', { 
        action: "auth",
        payload: {
          login:    "macbury",
          passowrd: "test1234"
        }
      });
    </script>
  </body>
</html>
