<div class="presence-view">
  <div class="avatar"></div>
  <div class="user">
    <span class="name">Arkadiusz Buras</span>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
        Avalible
        <span class="caret"></span>
      </a>
    </div>
  </div>
</div>
<div class="contacts-list nano">
  <div class="content">
    <ul>
      <li class="contact">
        <div class="avatar"></div>
        <div class="user">Arkadiusz Buras</div>
      </li>
    </ul>
  </div>
</div>

<div class="thread-list">

</div>

<div class="thread-view">

</div>