@import "bootstrap.css";

@import "nanoscroller.css";
body {
  overflow: hidden;
  background: #F9F9F9;
  overflow: hidden;
}
.presence-view {
  top: 15px;
  left: 15px;
  position: absolute;
  padding: 10px;
  width: 200px;
}
.presence-view .avatar {
  width: 42px;
  height: 42px;
  border: 1px solid #ccc;
  background: #ffffff url('/images/avatar.png') no-repeat center;
  position: absolute;
}
.presence-view .user {
  margin-left: 55px;
  font-size: 12px;
}
.presence-view .user .name {
  display: block;
  line-height: 12px;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 4px;
}
.presence-view .user .presence {
  display: block;
  line-height: 13px;
}
.contacts-list {
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px #EEE;
  position: absolute;
  top: 80px;
  bottom: 15px;
  width: 220px;
  left: 15px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}
.contacts-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.contacts-list ul li {
  border-bottom: 1px solid #ddd;
  padding: 5px 7px;
  font-size: 10px;
}
.contacts-list ul li .avatar {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background: #ffffff url('/images/avatar.png') no-repeat center;
  position: absolute;
}
.contacts-list ul li .user {
  margin-left: 25px;
  font-weight: bold;
  display: block;
}
.thread-list {
  background: #fff;
  left: 245px;
  top: 15px;
  bottom: 15px;
  width: 300px;
  position: absolute;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px #EEE;
}
.thread-view {
  background: #fff;
  left: 555px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  position: absolute;
  border: 1px solid #DDD;
  box-shadow: 0 1px 4px #EEE;
}
