@import "bootstrap.css";

body {
  overflow: hidden;
}

.contacts-list {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 220px;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}