@import "bootstrap.css";

body {
  overflow: hidden;
  background: #f7f8f9;
  overflow: hidden;

}

@leftViewWidth: 220px;

.presence-view {
  top: 15px;
  left: 15px;
  position: absolute;
  padding: 10px;
  width: @leftViewWidth - 20px;

  .avatar {
    width: 42px;
    height: 42px;
    border: 1px solid #ccc;
    background: #fff url('/images/avatar.png') no-repeat center;
    position: absolute;
  }

  .user {
    margin-left: 55px;
    font-size: 12px;
    .name {
      display: block;
      line-height: 12px;
      margin-top: 5px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .presence {
      display: block;
      line-height: 13px;
    }
  }
}

.contacts-list {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 80px;
  bottom: 15px;
  width: @leftViewWidth;
  left: 15px;
  background-color: white;
  overflow:hidden;
  overflow-y: scroll;
  cursor: pointer;
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      border-bottom: 1px solid #ddd;
      padding: 5px 7px;
      font-size: 10px;
      .avatar {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background: #fff url('/images/avatar.png') no-repeat center;
        position: absolute;
      }

      .user {
        margin-left: 25px;
        font-weight: bold;
        display: block;
      }
    }
  }
}

@threadListWidth: 300px;

.thread-list {
  background: #fff;
  left: @leftViewWidth + 25px;
  top: 15px;
  bottom: 15px;
  width: 300px;
  position: absolute;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.thread-view {
  background: #fff;
  left: @leftViewWidth + @threadListWidth + 35px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  position: absolute;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}